<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>About Us</title>

    
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/tooplate-main.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/flex-slider.css">

  </head>

  <body>
    
    
    <div id="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span>Bukhari Tutoring & Health - A Nonprofit Tutoring and Mentorship Business</span>
          </div>
        </div>
      </div>
    </div>

   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/images/team.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="products.html">Products
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="about.html">About Us</a>
              <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Donations</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="about-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>About Us</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-image">
              <img src="assets/images/IMG-0064.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <h4>How Do We Help With Your Child?</h4>
              <p> We do this by personalizing one-on-one tutoring sessions to bring out the very best from each student.With over 15 years of combined tutoring experience throughout our team, we offer tutoring in nearly every subject: Language Arts, Algebra, Calculus, Chemistry, Biology, Physics, History, Arabic, and much more. </p> 
              <br> 
              <p>In addition to our tutoring programs, we offer skill development programs that help students to enter the workforce with a head start and/or become successful entrepreneurs. We are also very involved in our community hosting basketball and soccer clinics to help students stay health and active.</p>
              <br>
              <p>Through these services we bring awareness to the harms of drugs & crime and the importance of receiving an education. Bukhari Tutoring & Health is the solution to rectifying the future of our youth.</p>
              <br>
              <div class="share">
                <h6>Find us on: <span><a href="https://www.facebook.com/Bukhari.Life/"><i class="fa fa-facebook"></i></a><a href="https://www.linkedin.com/in/usama-muta-ali-430b40171/"><i class="fa fa-linkedin"></i></a><a href="https://www.instagram.com/bukhari_tutoring/?hl=en"><i class="fa fa-instagram"></i></a></span></h6>
              </div>
            </div>
          </div>
         <img src="assets/images/competition.png" alt="">
        </div>
      </div>
    </div>
    
    
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <iframe width="860" height="615" src="https://www.youtube.com/embed/QGYMfmHwJOQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-12">
            <div class="social-icons">
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p>Bukhari Tutoring & Health - A Nonprofit Tutoring and Mentorship Business</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/flex-slider.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; 
      function clearField(t){                   
      if(! cleared[t.id]){                      
          cleared[t.id] = 1;  
          t.value='';         
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>
