<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Bukhari Tutoring & Health </title>

    
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/tooplate-main.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

  <body>
    <div id="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span>Bukhari Tutoring & Health - A Nonprofit Tutoring and Mentorship Business</span>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/images/Bukhari logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="products.html">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Donations</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="caption">
              <h2>Welcome to Bukhari Tutoring!!!</h2>
              <div class="line-dec"></div>
              <p>Bukhari Tutoring & Health is a nonprofit STEM Based tutoring & mentorship organization striving to
                promote academic success.</strong> Our mission is to mentor students who are subject to academic failure,
                crime, drug abuse, etc... And transform them into academically successful, morally upright, and
                admirable individuals who bring true value to our communities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="featured-items">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Our Goal</h1>
              <h4>Here at Bukhari Tutoring, our main goal is to provide a safe and influential enviornment
                for the next generations to come and grow, even with the tough surroundings for most children in our area.
                Here at Bukhari Tutoring, our tutors dedicate themselves to attend to all of our student's
                homework help, teaching and assisting in learning valuable future skills, and providing a fun
                and safe enviornment for the student to grow with us. Nearly 81% of high school students in Atlanta fail
                to receive a bachelor degree, but here at Bukhari Tutoring, we need your support to spark the academic revolution that will uplift our community.
              </h4>

              <div class="featured-items">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="section-heading">
                        <div class="line-dec"></div>
                        <h1>Contact Us</h1>
                        <h4>Owner: Usama Muta-Ali</h4>
                        <h4>Phone Number: (404)-904-4894</h4>
                        <h4>Email: bukharilife1@gmail.com</h4>
                      <h4><li><a href="https://www.facebook.com/Bukhari.Life/">Follow Us On Facebook!</a></li></h4>
                      <h4><li><a href="https://www.instagram.com/bukhari_tutoring/?hl=en">Follow Us On Instagram!</a></li></h4>
                      <h4><li><a href="https://www.linkedin.com/in/usama-muta-ali-430b40171/">Follow Us On Linkdeln!</a></li></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="right-content">
                  <div class="container">
                    <form id="contact" action="" method="post" onsubmit="return onSendEmail(event)">
                      <div class="row">
                        <div class="section-heading">
                          <h1>Schedule A Session</h1>
                        </div>
                        <div class="col-md-6">
                         <fieldset>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-6">
                          <fieldset>
                             <input name="parent_name" type="text" class="form-control" id="parent_name" placeholder="Your Parent(s) name..." required="">
                           </fieldset>
                         </div>
                        <div class="col-md-6">
                          <fieldset>
                            <input name="phone_number" type="text" class="form-control" id="phone_number" placeholder="Your phone number..." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject/Subjects..." required="">
                          </fieldset>
                        </div>
                        <label class="container">Tutoring
                          <input type="checkbox" name="tutoring" id="tutoring" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container">Skill Development
                          <input type="checkbox" name="skill_development" id="skill_development">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container">Quran
                          <input type="checkbox" id="quran" name="quran">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container">Volunteer
                          <input type="checkbox" id="volunteer" name="volunteer">
                          <span class="checkmark"></span>
                        </label>
                        <div class="col-md-12">
                          <fieldset>
                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your days and times available..." required=""></textarea>
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="button">Send Message</button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-text">
                <p>Bukhari Tutoring & Health - A Nonprofit Tutoring and Mentorship Business</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!--      <script src="assets/js/custom.js"></script>-->
<!--      <script src="assets/js/owl.js"></script>-->

      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
      <script type="text/javascript">
        (function() {
          emailjs.init("user_bQEOmeiCFXDt7put3UifD");
        })();

        function onSendEmail(e) {
          e.preventDefault();

          let name = $('#name').val();
          let parent_name = $('#parent_name').val();
          let phone_number = $('#phone_number').val();
          let email = $('#email').val();
          let subject = $('#subject').val();
          let tutoring = document.getElementById('tutoring').checked ? 'checked' : 'unchecked';
          let skill_development = document.getElementById('skill_development').checked ? 'checked': 'unchecked';
          let quran = document.getElementById('quran').checked ? 'checked': 'unchecked';
          let volunteer = document.getElementById('volunteer').checked ? 'checked': 'unchecked';
          let message = $('#message').val();
          var templateParams = {
            name,
            parent_name,
            phone_number,
            email,
            subject,
            tutoring,
            skill_development,
            quran,
            volunteer,
            message
          };

          emailjs.send('service_284va85', 'template_hor87kg', templateParams)
                  .then(function(response) {
                    alert('successfully sent!');
                    $('#name').val('');
                    $('#parent_name').val('');
                    $('#phone_number').val('');
                    $('#email').val('');
                    $('#subject').val('');
                    $('#message').val('');
                    console.log('SUCCESS!', response.status, response.text);
                  }, function(error) {
                    console.log('FAILED...', error);
                  });

          return false;
        }

      </script>
      <script language = "text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0;
        function clearField(t){
        if(! cleared[t.id]){
            cleared[t.id] = 1;
            t.value='';
            t.style.color='#fff';
            }
        }
      </script>
    </div>
  </body>
</html>
