<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Purchase Items</title>

   
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/tooplate-main.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/flex-slider.css">

  </head>

  <body>
    
    
    <div id="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span>Bukhari Tutoring & Health - A Nonprofit Tutoring and Mentorship Business</span>
          </div>
        </div>
      </div>
    </div>

   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/images/Bukhari logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="products.html">Products
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Donations</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    
    <div class="single-product">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Purchase Products</h1>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="product-slider">
              <div id="slider" class="flexslider">
                <ul class="slides">
                  <li>
                    <img src="assets/images/IMG-0034.PNG" />
                  </li>
                  <li>
                    <img src="assets/images/IMG-0079.JPG" />
                  </li>
                  <li>
                    <img src="assets/images/IMG-0247.jpg" />
                  </li>
                  <li>
                    <img src="assets/images/IMG-0248.jpg" />
                  </li>
                </ul>
              </div>
              <div id="carousel" class="flexslider">
                <ul class="slides">
                  <li>
                    <img src="assets/images/IMG-0249.jpg" />
                  </li>
                  <li>
                    <img src="assets/images/IMG-250.jpg" />
                  </li>
                  <li>
                    <img src="assets/images/IMG-0251.jpg" />
                  </li>
                  <li>
                    <img src="assets/images/IMG-0298.jpg" />
                  </li>
                  <li>
                    <img src="assets/images/IMG-0148.JPG" />
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
          <div class="col-md-6">
            <div class="right-content">
              <h4>Bukhari Phone Case</h4>
              <h6>$25.00</h6>
              <form action="/action_page.php">
                <label for="color">Choose a color:</label>
                <select name="color" id="color">
                  <option value="volvo">Beige</option>
                  <option value="saab">Gray</option>
                  <option value="opel">Blue</option>
                  <option value="audi">Purple</option>
                  <option value="audi">Pink</option>
                  <option value="audi">Magenta</option>
                  <option value="audi">Green</option>
                </select>
                <br><br>

                <form action="/action_page.php">
                  <label for="phone-type">Choose a phone type:</label>
                  <select name="phone-type" id="phone-type">
                    <option value="volvo">Apple</option>
                    <option value="saab">Android</option>
                  </select>
                  <br><br>

                  <h4>Tell us what specific phone you have: 
                    (Ex: iPhone 11, Samsung Galaxy S8)
                  </h4>
                  <input type="text" id="name" name="name" required
                  minlength="75" maxlength="75" size="75">
              </form>
              
              <span>7 left on stock</span>
              <form action="" method="get">
                <label for="quantity">Quantity:</label>
                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                	onfocus="if(this.value == '1') { this.value = ''; }" 
                    onBlur="if(this.value == '') { this.value = '1';}"
                    value="1">
                <input type="submit" class="button" value="Order Now!">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
    
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          </div>
          <div class="col-md-12">
            <div class="footer-menu">
            </div>
          </div>
          <div class="col-md-12">
            <div class="social-icons">
              <ul>
                <li><a href="https://www.facebook.com/Bukhari.Life/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/bukhari_tutoring/?hl=en"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/usama-muta-ali-430b40171/"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p>Bukhari Tutoring & Health - A Nonprofit Tutoring and Mentorship Business</p>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/flex-slider.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; 
      function clearField(t){                   
      if(! cleared[t.id]){                      
          cleared[t.id] = 1;  
          t.value='';         
          t.style.color='#fff';
          }
      }
    </script>
<script src="./single-product.js"></script>
  </body>

</html>
